.App .list-group-item-action:focus, .App .list-group-item-action:hover {
  background-color: #fff;
}
.App .list-group .positions .list-group-item {
  border: none;
  padding-right: 0;
}
.App .list-group .positions .list-group-item i.fa-ban {
  margin-right: 10px;
  color: rgba(0,0,0,.5);
  display: none;
}

.App .list-group .positions  {
  display: none;
}

.App .list-group .positions.show {
  display: block;
}

.App .list-group .positions .list-group-item:hover i.fa-ban {
  display: block;
}

.App .list-group .list-group-item {
  border-radius: 0 !important;
}
